.first{display:flex}
.second{display:flex}
.second img{height:300px;width:300px;}
.new{padding-right: 10px;}
.old{padding-left: 10px;}
article{text-align: center;}
.last{display: flex;width: 20%;padding-top: 10px; }
img{height:200px;width:200px}
.new{box-shadow: 10px 10px 40px gray;margin-left: 10px;padding-left: 10px;}
footer{text-align: center;}